body {
    background-color: lightgoldenrodyellow;
    font-family: 'Anaheim', sans-serif;
    font-size: 1.2em;
}

.container {
    border: solid 1px #999;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    text-align: center;
}

.section {
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 10px;
}

.text-input, .radiobutton, .calendar, .textarea {
    margin-bottom: 20px;
}

.submitbutton {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

button {
    padding: 5px;
}